<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Calceare | {% block title %}page name here{% endblock %}</title>
        <meta name="description" content="Discover the coolest way to sell your sneakers with Calceare">

        <meta itemprop="name" content="Calceare | Sneaker's Hall">
        <meta itemprop="description" content="Discover the coolest way to sell your sneakers with Calceare">
        <meta itemprop="image" content="">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Calceare | Sneaker's Hall">
        <meta name="twitter:description" content="Discover the coolest way to sell your sneakers with Calceare">
        <meta name="twitter:image" content="">

        <meta property="og:site_name" content="Calceare">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:title" content="Calceare | Sneaker's Hall">
        <meta property="og:description" content="Discover the coolest way to sell your sneakers with Calceare">
        <meta property="og:image" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Fav-Icon -->
        <link rel="shortcut icon" type="image/png" href="{{ asset('img/favicon.svg') }}"/>

        {% block javascripts %}
        {% endblock %}

        <link href="{{ asset('css/class.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
        {% block stylesheet %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <header id="header" class="header">
                <a class="logo_app new-york" href="{{ path('app_index') }}">
                    Calceare
                </a>
                <nav>
                    <a href="" class="hover-effect">
                        <div>
                            <span>ABOUT</span>
                            <span>ABOUT</span>
                        </div>
                    </a>
                    <a href="{{ path('app_shop') }}" class="hover-effect">
                        <div>
                            <span>SHOP NOW</span>
                            <span>SHOP NOW</span>
                        </div>
                    </a>
                    <a href="{{ path('app_login') }}" class="hover-effect">
                        <div>
                            <span>LOGIN</span>
                            <span>LOGIN</span>
                        </div>
                    </a>
                    <a href="{{ path('app_sign-up') }}" class="hover-effect">
                        <div>
                            <span>SIGN UP</span>
                            <span>SIGN UP</span>
                        </div>
                    </a>
                </nav>
            </header>
            <div class="bg">
                <img src="{{ asset('img/bg.png') }}" alt="Texture image">
            </div>
            <div class="noise"></div>
        {% endblock %}

        <main>
            {% block content %}

            {% endblock %}
        </main>

        {% block footer %}
            <footer id="footer" class="footer">
                <a class="logo_app new-york" href="{{ path('app_index') }}">
                    Calceare
                </a>
                <nav>
                    <a href="" class="hover-effect">
                        <div>
                            <span>ABOUT</span>
                            <span>ABOUT</span>
                        </div>
                    </a>
                    <a href="{{ path('app_shop') }}" class="hover-effect">
                        <div>
                            <span>SHOP NOW</span>
                            <span>SHOP NOW</span>
                        </div>
                    </a>
                    <a href="{{ path('app_login') }}" class="hover-effect">
                        <div>
                            <span>LOGIN</span>
                            <span>LOGIN</span>
                        </div>
                    </a>
                    <a href="" class="hover-effect">
                        <div>
                            <span>CONTACT</span>
                            <span>CONTACT</span>
                        </div>
                    </a>
                    <a href="" class="hover-effect">
                        <div>
                            <span>jobs</span>
                            <span>jobs</span>
                        </div>
                    </a>
                    <div></div>
                    <div></div>
                    <div></div>
                    <h3>Newsletter</h3>
                    <div></div>
                    <input type="email" placeholder="your@email.here">
                </nav>
                <p>Made with ❤ by CALCEARE TEAM</p>
                <svg id="ellipse" width="1170" height="752" viewBox="0 0 1170 752" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1101.52 593.817C1079.13 657.166 1002.48 695.277 895.325 704.911C788.36 714.528 651.806 695.652 511.069 645.913C370.333 596.173 252.244 525.05 175.077 450.356C97.7705 375.527 62.0939 297.719 84.483 234.371C106.872 171.022 183.517 132.911 290.675 123.277C397.64 113.66 534.195 132.536 674.931 182.276C815.667 232.015 933.756 303.138 1010.92 377.832C1088.23 452.661 1123.91 530.469 1101.52 593.817Z" stroke="#F5F3EF" stroke-opacity="0.8" stroke-width="4"/>
                    <path id="star" d="M67.1956 247.574L85.4172 270.868L114.962 272.199L91.6673 290.421L90.3367 319.965L72.1151 296.671L42.5705 295.34L65.865 277.119L67.1956 247.574Z" fill="#F5F3EF"/>
                </svg>
            </footer>
        {% endblock %}
    </body>
</html>
