{% extends 'base.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block stylesheet %}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <section class="border-bottom section_landing_page">
        <div>
            <h1>
                <div>C</div>
                <div>a</div>
                <div>l</div>
                <div>c</div>
                <div>e</div>
                <div>a</div>
                <div>r</div>
                <div>e</div>
            </h1>
        </div>
    </section>
    <section class="glass-effect border-radius section_home_description">
        <div>
            <h3>Welcome home</h3>
            <div class="stroke"></div>
        </div>
        <p>Calceare is the home of sneakerheads. Built to make the most people happy, Calceare allows everyone to share their new discoveries and evolve the world of sneakers.

            Do not forget that this site is above all a showcase of YOUR products, do not hesitate to highlight them.

            Best wishes.

            Signed the Calceare team ❤️</p>
        <a href="" class="CTA">
            <span>See more →</span>
        </a>
    </section>
    <section class="section_home_listing_product">
        <div class="grid3">
            {% for product in products %}
                <a href="{{ path('app_product') }}" class="card_produit sales">
                    <img src="{{ product.image }}" alt="{{ product.title }}">
                    <div class="detail">
                        <h4>{{ product.title }}</h4>
                        <div class="price">
                            <span class="primary_color dashed">$100.99</span>
                            <span class="italic">${{ product.price }}</span>
                        </div>
                    </div>
                    <span class="hoverElement">Buy - me now !</span>
                </a>
            {% endfor %}
        </div>
        <a href="{{ path('app_shop') }}" class="CTA">
            <span>Go to shop →</span>
        </a>
    </section>
{% endblock %}


