{% extends 'base.html.twig' %}

{% block title %}
    {{ product.title }}
{% endblock %}

{% block stylesheet %}
    <link href="{{ asset('css/products.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <section class="product grid2 border-bottom">
        <figure class="product-img border-radius shadow">
            <img src="{{ product.image }}" alt="{{ product.title }}">
        </figure>
        <div class="product-detail">

            <div class="product-title">
                <h1>{{ product.title }}</h1>
            </div>

            <div class="product-tag-list">
                <div class="product-tag">{{ product.brand }}</div>
            </div>

            <div class="product-flex-container grid2">
                <div>
                    <div class="product-desc">
                        <p style="margin-bottom: 8px">{{ product.date|format_datetime('full', 'none', locale='fr') }}</p>
                        <p>{{ product.description }}</p>
                    </div>
                    <div class="product-size flexrow">
                        <h5>Size:</h5>
                        <p>{{ product.size }}</p>
                    </div>
                    <div class="product-condition flexrow">
                        <h5>Condition:</h5>
                        <p>{{ product.state }}</p>
                    </div>
                    <h3 style="margin-top: 40px" class="primary_color">${{ product.price }}</h3>
                </div>

                {% if user %}
                    <a href="{{ path('app_user', {id: user.id}) }}" class="product-seller shadow">
                        <h2 class="product-seller-title">ABOUT THE SELLER</h2>
                        <figure class="shadow product-seller-picture">
                            <img src="{{ asset('img/produit.jpg') }}" alt="">
                        </figure>
                        <h2 class="product-seller-name">{{ user.username }}</h2>
                        <div class="product-seller-rating">
                            <img src="{{ asset('img/star.png') }}" alt="">
                            <img src="{{ asset('img/star.png') }}" alt="">
                            <img src="{{ asset('img/star.png') }}" alt="">
                            <img src="{{ asset('img/star.png') }}" alt="">
                            <img src="{{ asset('img/star.png') }}" alt="">
                        </div>
                    </a>
                {% endif %}
            </div>

            <a href="" class="CTA">
                <span class="product-order">Make order →</span>
            </a>

        </div>
    </section>

    <section class="recommendation border-bottom">
        <h2>You'll appreciate</h2>
        <div class="recommendation-slider">
            {% for product in otherProduct|reverse %}
                <div class="recommendation-product">
                    <a href="{{ path('app_product', {id: product.id}) }}" class="card_produit sales">
                        <img src="{{ product.image }}" alt="{{ product.title }}">
                        <div class="detail">
                            <h4>{{ product.title }}</h4>
                            <div class="price">
                                <span class="primary_color dashed">$100</span>
                                <span class="italic">${{ product.price }}</span>
                            </div>
                        </div>
                        <span class="hoverElement">Buy - me now !</span>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}