{% extends 'base.html.twig' %}
{% block title %}Sign Up{% endblock %}
{% block stylesheet %}
    <link href="{{ asset('css/signUp.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<<<<<<< HEAD
        {{ form(form) }}
=======
>>>>>>> 3a7432c ([ADD]SIGNUP)

   <section class="sign-up_title">
        <h1>Sign Up</h1>
    </section>
    <section>

        <form class="sign-up_form" method="post">
            {{ form_start(registrationForm) }}

            <label class="sign-up_form--label" for="pseudo">
                Pseudo
            </label>
            {{ form_row(registrationForm.username) }}

            <label class="sign-up_form--label" for="email">
                Email
            </label>
            {{ form_row(registrationForm.email) }}

            <label class="sign-up_form--label" for="password">
                Password
            </label>
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}

                <button type="submit" class="sign-up_form--button">Register</button>
                {{ form_end(registrationForm) }}

{#            {{ form_row(registrationForm.agreeTerms) }}#}

        </form>



    </section>
{% endblock %}