{% extends 'base.html.twig' %}

{% block title %}
    {{ user.username }}
{% endblock %}

{% block stylesheet %}
    <link href="{{ asset('css/user.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <section class="border-bottom grid3 user_detail">
        {#TODO : show user.image#}
        <figure class="border-radius shadow">
            <img src="" alt="{{ user.username }}">
        </figure>
        <div class="detail_user">
            {% if canEdit == false %}
                <form action="{{ path("app_edit_user_form") }}" method="post">
                    <h1 class="edit_icone">
                        <input class="input_h1" type="text" name="name_user" value="{{ user.username }}" placeholder="Your name" required>
                    </h1>
                    <div>
                        <input type="mail" name="mail_user" value="{{ user.email }}" placeholder="Your E-mail" required>
                    </div>
                    <div>
                        <textarea required name="description_user" id="description_user" placeholder="Your description">{{ user.description }}</textarea>
                    </div>
                    <div>
                        <button type="submit" style="margin-left: auto" class="CTA">
                            <span>Save edit →</span>
                        </button>
                    </div>
                    <div>
                        <div class="flexrow">
                            <h5>Sales:</h5>
                            {#TODO : number of sales#}
                            <p>10</p>
                        </div>
                    </div>
                    <div class="note">
                        {% if user.rating == 0 %}
                            <img src="{{ asset('img/star.png') }}" alt="Star"><h3 style="margin-bottom: 0">: 0</h3>
                        {% else %}
                            {% for i in 1..user.rating %}
                                <img src="{{ asset('img/star.png') }}" alt="Star">
                            {% endfor %}
                        {% endif %}
                    </div>
                </form>
            {% else %}
                <h1>{{ user.username }}</h1>
                    <div class="note">
                        {% if user.rating == 0 %}
                            <img src="{{ asset('img/star.png') }}" alt="Star"><h3 style="margin-bottom: 0">: 0</h3>
                        {% else %}
                            {% for i in 1..user.rating %}
                                <img src="{{ asset('img/star.png') }}" alt="Star">
                            {% endfor %}
                        {% endif %}
                    </div>

                {% if user.description is empty %}
                    <div>
                        <p>No description yet</p>
                    </div>
                {% else %}
                    <div>
                        <p id="description_user">{{ user.description }}</p>
                    </div>
                {% endif %}
                <div>
                    <div class="flexrow">
                        <h5>Sales:</h5>
                        {#TODO : number of sales#}
                        <p>10</p>
                    </div>
                </div>
            {% endif %}

        </div>

        <div class="last-drop">
            {% if canEdit == false %}
                <h2>Add a product</h2>
                <form action="{{ path("app_add_product_form") }}" enctype="multipart/form-data" method="post">
                    <input type="text" name="title" placeholder="title" required>
                    <select name="state" class="input">
                        <option value="PO">PO</option>
                        <option value="US">US</option>
                        <option value="GD">GD</option>
                        <option value="EX">EX</option>
                        <option value="NM">NM</option>
                        <option value="M">M</option>
                    </select>
                    <input type="text" name="brand" placeholder="brand" required>
                    <textarea name="description" placeholder="decription" required></textarea>
                    <input type="file" name="image" accept="image/png, image/gif, image/jpeg"  required>
                    <input type="number" name="price" placeholder="price" required>
                    <input type="number" name="size" placeholder="size" required>
                    <button type="submit" class="CTA" name="addProduct">
                        <span>ADD IT →</span>
                    </button>
                </form>
            {% else %}
                {#TODO : product of THIS user#}
                {% for product in productsUser  %}
                        <a href="{{ path('app_product', {id: product.id}) }}" class="card_produit sales">
                            <img src="../uploads/{{ product.image }}" alt="{{ product.title }}">
                            <div class="detail">
                                <h4>{{ product.title }}</h4>
                                <div class="price">
                                    <span class="primary_color dashed">$100</span>
                                    <span class="italic">${{ product.price }}</span>
                                </div>
                            </div>
                            <span class="hoverElement">Buy - me now !</span>
                        </a>
                    <a href="{{ path('app_product', {id: product.id}) }}" class="CTA">
                        <span>Last drop →</span>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </section>
    <section class="border-bottom">
        <h3>last drop of the seller</h3>
        <div class="grid3">
            {#TODO : product of THIS user#}
            {% for product in products %}
                <a href="{{ path('app_product', {id: product.id}) }}" class="card_produit sales">
                    <img src="../uploads/{{ product.image }}" alt="{{ product.title }}">
                    <div class="detail">
                        <h4>{{ product.title }}</h4>
                        <div class="price">
                            <span class="primary_color dashed">$100.99</span>
                            <span class="italic">${{ product.price }}</span>
                        </div>
                    </div>
                    <span class="hoverElement">Buy - me now !</span>
                </a>
            {% endfor %}
        </div>
    </section>
    <section>
        <div class="section_title">
            <h3>opinion</h3>
            <button class="CTA">
                <span>rate this seller +</span>
            </button>
        </div>
    </section>
{% endblock %}


