{% extends 'base.html.twig' %}

{% block title %}
    X-LIL-NAS-X
{% endblock %}

{% block stylesheet %}
    <link href="{{ asset('css/user.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <section class="border-bottom grid3 user_detail">
        <figure class="border-radius shadow">
            <img src="https://voi.img.pmdstatic.net/fit/~1~voi~2022~03~30~6c5c596e-af38-4aaa-bc36-151ed1bc77b3.jpeg/3187x4249/quality/80/lil-nas-x.jpeg" alt="">
        </figure>
        <div class="detail_user">

            {#profil conneté#}
            <form action="">
                <h1 class="edit_icone">
                    <input class="input_h1" type="text" name="name_user" value="X-LIL-NAS-X" placeholder="Your name" required>
                </h1>

                <div>
                    <input type="mail" name="mail_user" value="lilnas@gmial.com" placeholder="Your E-mail" required>
                </div>
                <div>
                    <textarea required name="description_user" id="description_user" placeholder="Your description">Dreams do come true. Nike is releasing Marty's mythical shoe from Back to the Future II. In addition to the glowing LEDs and all the McFly style you can handle, the Nike MAG finally brings power-lacing to your feet.</textarea>
                </div>
                <div>
                    <button type="submit" style="margin-left: auto" class="CTA">
                        <span>Save edit →</span>
                    </button>
                </div>


                <div>
                    <div class="flexrow">
                        <h5>SINCE:</h5>
                        <p>17 Oct. 2022</p>
                    </div>
                </div>
                <div>
                    <div class="flexrow">
                        <h5>Sales:</h5>
                        <p>10</p>
                    </div>
                </div>
                <div class="note">
                    <img src="{{ asset('img/star.png') }}" alt="Star">
                    <img src="{{ asset('img/star.png') }}" alt="Star">
                    <img src="{{ asset('img/star.png') }}" alt="Star">
                    <img src="{{ asset('img/star.png') }}" alt="Star">
                    <img src="{{ asset('img/star.png') }}" alt="Star">
                </div>
            </form>


            {#profil non connecté#}
            {#<h1>X-LIL-NAS-X</h1>
            <div class="note">
                <img src="{{ asset('img/star.png') }}" alt="Star">
                <img src="{{ asset('img/star.png') }}" alt="Star">
                <img src="{{ asset('img/star.png') }}" alt="Star">
                <img src="{{ asset('img/star.png') }}" alt="Star">
                <img src="{{ asset('img/star.png') }}" alt="Star">
            </div>
            <div>
                <p id="description_user">Dreams do come true. Nike is releasing Marty's mythical shoe from Back to the Future II. In addition to the glowing LEDs and all the McFly style you can handle, the Nike MAG finally brings power-lacing to your feet.</p>
            </div>
            <div>
                <div class="flexrow">
                    <h5>SINCE:</h5>
                    <p>17 Oct. 2022</p>
                </div>
            </div>
            <div>
                <div class="flexrow">
                    <h5>Sales:</h5>
                    <p>10</p>
                </div>
            </div>#}

        </div>

        <div class="last-drop">
            {#{% include 'produits/card.html.twig' %}
            <a href="" class="CTA">
                <span>Last drop →</span>
            </a>#}

            <h2>Add a product</h2>
            <form action="{{ path("app_add_product_form") }}" method="post">
                <input type="text" name="title" placeholder="title" required>

                <select name="state" class="input">
                    <option value="PO">PO</option>
                    <option value="US">US</option>
                    <option value="GD">GD</option>
                    <option value="EX">EX</option>
                    <option value="NM">NM</option>
                    <option value="M">M</option>
                </select>
                <input type="text" name="brand" placeholder="brand" required>
                <textarea name="description" placeholder="decription" required></textarea>
                <input type="file" name="image" accept="image/png, image/gif, image/jpeg"  required>
                <input type="number" name="price" placeholder="price" required>
                <input type="number" name="size" placeholder="size" required>
                <button type="submit" class="CTA">
                    <span>ADD IT →</span>
                </button>
            </form>
        </div>
    </section>
    <section class="border-bottom">
        <h3>last drop of the seller</h3>
        <div class="grid3">
            {% for product in products %}
                <a href="{{ path('app_product', {id: product.id}) }}" class="card_produit sales">
                    <img src="{{ product.image }}" alt="{{ product.title }}">
                    <div class="detail">
                        <h4>{{ product.title }}</h4>
                        <div class="price">
                            <span class="primary_color dashed">$100.99</span>
                            <span class="italic">${{ product.price }}</span>
                        </div>
                    </div>
                    <span class="hoverElement">Buy - me now !</span>
                </a>
            {% endfor %}
        </div>
    </section>
    <section>
        <div class="section_title">
            <h3>opinion</h3>
            <button class="CTA">
                <span>rate this seller +</span>
            </button>
        </div>
    </section>
{% endblock %}


