{% extends 'base.html.twig' %}

{% block title %}
    {{ user.username }}
{% endblock %}

{% block stylesheet %}
    <link href="{{ asset('css/user.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <section class="border-bottom grid3 user_detail">
        {#TODO : show user.image#}
        <figure class="border-radius shadow">
            <img src="" alt="{{ user.username }}">
        </figure>
        <div class="detail_user">
            {% if canEdit == false %}
            <button class="CTA">
                <a href="{{ path('app_user-edit', {'id': user.id}) }}">
                    Update your profile →
                </a>
            </button>
            {% endif %}

            {# OLD CODE TO KEEP IN CASE THAT WE NEED TO REAPLY SOME ELTS#}

            {# <form action="{{ path("app_edit_user_form") }}" method="post">
                    <h1 class="edit_icone">
                        <input class="input_h1" type="text" name="name_user" value="{{ user.username }}" placeholder="Your name" required>
                    </h1>
                    <div>
                        <input type="mail" name="mail_user" value="{{ user.email }}" placeholder="Your E-mail" required>
                    </div>
                    <div>
                        <textarea required name="description_user" id="description_user" placeholder="Your description">{{ user.description }}</textarea>
                    </div>
                    <div>
                        <button type="submit" style="margin-left: auto" class="CTA">
                            <span>Save edit →</span>
                        </button>
                    </div>
                    <div>
                        <div class="flexrow">
                            <h5>Sales:</h5>
                            <span>
                                {{ sales|length }}
                            </span>
                        </div>
                    </div>
                    <div class="note">
                        {% if user.rating == 0 %}
                            <img src="{{ asset('img/star.png') }}" alt="Star"><h3 style="margin-bottom: 0">: 0</h3>
                        {% else %}
                            {% for i in 1..user.rating %}
                                <img src="{{ asset('img/star.png') }}" alt="Star">
                            {% endfor %}
                        {% endif %}
                    </div>
                </form> #}

                {# END OLD CODE #}

                <h1>{{ user.username }}</h1>
                    <div class="note">
                        {% if user.rating == 0 %}
                            <img src="{{ asset('img/star.png') }}" alt="Star"><h3 style="margin-bottom: 0">: 0</h3>
                        {% else %}
                            {% for i in 1..user.rating %}
                                <img src="{{ asset('img/star.png') }}" alt="Star">
                            {% endfor %}
                        {% endif %}
                    </div>

                {% if user.description is empty %}
                    <div>
                        <p>No description yet</p>
                    </div>
                {% else %}
                    <div>
                        <p id="description_user">{{ user.description }}</p>
                    </div>
                {% endif %}
                <div>
                    <div class="flexrow">
                        <h5>Sales:</h5>
                        <span>
                            {# {{ sales|length }} #}
                        </span>
                    </div>
                </div>

        </div>

        <div class="last-drop">
            {% if canEdit == false %}
                <h2>Add a product</h2>
                <form action="{{ path("app_add_product_form", {id: user.id}) }}" enctype="multipart/form-data" method="post">
                    <input type="text" name="title" placeholder="title" required>
                    <select name="state" class="input">
                        <option value="PO">PO</option>
                        <option value="US">US</option>
                        <option value="GD">GD</option>
                        <option value="EX">EX</option>
                        <option value="NM">NM</option>
                        <option value="M">M</option>
                    </select>
                    <input type="text" name="brand" placeholder="brand" required>
                    <textarea name="description" placeholder="decription" required></textarea>
                    <input type="file" name="image" accept="image/png, image/gif, image/jpeg"  required>
                    <input type="number" name="price" placeholder="price" required>
                    <input type="number" name="size" placeholder="size" required>
                    <button type="submit" class="CTA" name="addProduct">
                        <span>ADD IT →</span>
                    </button>
                </form>
            {% else %}
                {% for product in products  %}
                        <a href="{{ path('app_product', {id: product.id}) }}" class="card_produit sales">
                            <img src="../uploads/{{ product.image }}" alt="{{ product.title }}">
                            <div class="detail">
                                <h4>{{ product.title }}</h4>
                                <div class="price">
                                    <span class="primary_color dashed">$100</span>
                                    <span class="italic">${{ product.price }}</span>
                                </div>
                            </div>
                            <span class="hoverElement">Buy - me now !</span>
                        </a>
                    <a href="{{ path('app_product', {id: product.id}) }}" class="CTA">
                        <span>Last drop →</span>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </section>
    <section class="border-bottom">
        <h3>last drop of the seller</h3>
        <div class="grid3">
            {% for product in productsUser %}
                <a href="{{ path('app_product', {id: product.id}) }}" class="card_produit sales">
                    <img src="../uploads/{{ product.image }}" alt="{{ product.title }}">
                    <div class="detail">
                        <h4>{{ product.title }}</h4>
                        <div class="price">
                            <span class="primary_color dashed">$100.99</span>
                            <span class="italic">${{ product.price }}</span>
                        </div>
                    </div>
                    <span class="hoverElement">Buy - me now !</span>
                </a>
            {% endfor %}
        </div>
    </section>
    <section>
        <div class="section_title">
            <h3>opinion</h3>
            <button class="CTA">
                <span>rate this seller +</span>
            </button>
        </div>

        <form action="" id="add_message" style="margin: 0 0 40px 0; width: 100%">
            <div>
            <label for="star">Number of star(s)</label>
            <select required class="input" name="star" id="star">
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
                <option value="0">0</option>
            </select>
            </div>
            <br>
            <br>
            <textarea required placeholder="Your opinion about the seller" name="question" id="question" rows="10"></textarea>
            <br>
            <button type="submit" class="CTA">
                <span>Rate it +</span>
            </button>
        </form>

        <div class="msg">
            <div class="message border-radius border">
                <a href="" class="user-message border-radius">
                    <figure class="shadow border">
                        <img src="" alt="">
                    </figure>
                    <h5>X-lil-nas-x</h5>
                </a>
                <div class="contenu-message">
                    <div>
                        <img src="{{ asset('img/star.png') }}" alt="Star">
                        <img src="{{ asset('img/star.png') }}" alt="Star">
                        <img src="{{ asset('img/star.png') }}" alt="Star">
                        <img src="{{ asset('img/star.png') }}" alt="Star">
                        <img src="{{ asset('img/star.png') }}" alt="Star">
                    </div>
                    <p style="margin: 24px 0" class="primary_color">LOREM IPSUM THOMAS LE BG BACON OIGON MUFFIN LAPIN CANARD WC TOTALLY SPIES LOREM IPSUM POKEMON LUCAS LE BG BACON OIGON MUFFIN LAPIN CANARD WC TOTALY  LAPIN CANARD WC TOTALY SPIES MAXIME LE BG LAPIN CANARD WC TOTALY SPIESLOREM IPSUM BOLOSS BACON OIGON MUFFIN LAPIN CANARD WC TOTALY SPIES LOREM IPSUM POKEMON BACON OIGON MUFFIN LAPIN CANARD WC TOTALY SPIES CHARLES LE BG</p>
                    <span style="font-size: 14px">mardi 01 octobre 2022</span>

                    <a style="margin-left: auto; display: block" href="" class="CTA">
                        <span>Reply ↑</span>
                    </a>
                </div>
            </div>
            <div class="response">
                <form action="" id="add_response" style="margin: 0 0 40px 0;">
                    <textarea required placeholder="Your response" name="response" id="response" rows="10"></textarea>
                    <br>
                    <button type="submit" class="CTA">
                        <span>Reply +</span>
                    </button>
                </form>

                <div class="message border-radius border">
                    <div class="contenu-message">
                        <h5>the Seller</h5>
                        <p style="margin: 24px 0" class="primary_color">LOREM IPSUM THOMAS LE BG BACON OIGON MUFFIN LAPIN CANARD WC TOTALLY SPIES LOREM IPSUM POKEMON LUCAS LE BG BACON OIGON MUFFIN LAPIN CANARD WC TOTALY  LAPIN CANARD WC TOTALY SPIES MAXIME LE BG LAPIN CANARD WC TOTALY SPIESLOREM IPSUM BOLOSS BACON OIGON MUFFIN LAPIN CANARD WC TOTALY SPIES LOREM IPSUM POKEMON BACON OIGON MUFFIN LAPIN CANARD WC TOTALY SPIES CHARLES LE BG</p>
                        <span style="font-size: 14px">mardi 01 octobre 2022</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


